body{
    background-color: white;
    height: 120vh;
}
#fils1{
    background-image: linear-gradient(#0a2633ad),url(./WhatsApp\ Image\ 2026-02-18\ at\ 10.02.18.jpeg);
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    

   
}
header{
    display: flex;
   justify-content: space-around;
   align-items: center;
   position: relative;

}
#sou{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
a{
    text-decoration: none;
    color: white;
}
#fils2{
     padding: 0px 35px;
     position: absolute;
     top: 82%;
     left: 50%;
     transform: translateX(-50%);
     background-color: white;
     width: 70%;
     height: 400px;
     box-shadow: 0px 10px 15px #0a2633ad;
     border-radius: 35px;
}
#sou1{
    a{
        color: rgba(61, 140, 191);
        font-size: 70Px;
        font-family: 'poppins', 'sans-serif';
    }
}
#sou2{
    a{
        color: black;
        font-size: 30px;
        font-family: 'poppins', 'sans-serif';
    }
}
#button1{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color:  transparent;
    border: 10px 100px solid gray;
    padding: 12px 24px;
}
.ou{
    color: black;
    font-size: 30px;
    p{
        color: gray;
        display: flex;
        justify-content: space-around;
    }
}
.sousfils1{
  border: 1px solid #CCC;
  border-radius: 49px;
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;


  

}

 .sousfils1 .all{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.sousfils1 .all .words{
    display: flex;
     flex-direction: column;

  }

.search-sign i{
    height: 60px;
    width: 60px;
 display: flex ;
    background-color: rgba(61, 140, 191);
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.search-sign i{
    color: white;
     align-items: center;
}
i{
    color: #CCC;
    font-size: 30px;
    background-color: transparent;
}
.all .words{
   display: flex;
   align-items: center;
   border-right: 1px solid gray;
   padding: 10px;
}
#il{
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px;

}
#sousfils2 i{
    color: rgba(61, 140, 191);
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: rgba(238, 249, 254);
    padding: 20px;
}
#sousfils2{
    text-align: center;

}
#fils3{
    display: flex;
    gap: 60px;
    h4{
        font-size: 30px;
    }
}
#mere3{
    h3{
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    display: flex;
    flex-direction: column;
}
#sousfils3{
    display: flex;
    justify-content: space-between;
}
.mo{
    display: flex;
    gap: 15px;
}
#sousfils3{
    animation: keline 10s ease infinite;
}
@keyframes keline{
    from{
        transform: translateX(O);
    }
to{
    transform: translateX(-50%);
    }

}
#mere4{
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        text-shadow: 2px 2px 2px #a8b2b7ad ;
    }
}

.feu{
    background-image: url(./WhatsApp\ Image\ 2026-02-18\ at\ 10.02.23\ \(1\).jpeg);
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    border-radius: 20px 20px ;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    justify-content: end;
}
.nu{
    background-color: #445260d2;
    position: absolute;
    padding: 5px 15px;
    border-radius: 10px;
    i{
        color: transparent;
        background-color: yellow;
        
    }

}
.ol{
    color: white;
}
.fou{
    background-image: url(./WhatsApp\ Image\ 2026-02-18\ at\ 10.02.26.jpeg);
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}
.pa{
    background-image: url(./WhatsApp\ Image\ 2026-02-18\ at\ 10.02.22\ \(1\).jpeg);
    width: 250px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px;
}
.ve{
    background-image: url(./WhatsApp\ Image\ 2026-02-18\ at\ 10.02.24\ \(1\).jpeg);
    width: 250px;
    height: 250px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}