body{
    background-color: white;
    height: 120vh;
}
#fils1{
    background-image: linear-gradient(#0a2633ad),url(./WhatsApp\ Image\ 2026-02-18\ at\ 10.02.18.jpeg);
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    

   
}
header{
    display: flex;
   justify-content: space-around;
   align-items: center;
   position: relative;

}
#sou{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
a{
    text-decoration: none;
    color: white;
}
#fils2{
     margin: 500px 200px 0px 200px;
     padding: 50px 100px 100px 100px;
     background-color: white;
     border-color: transparent;
     border-radius: 50px;
     box-shadow: 0 3px 50px transparent;
     gap: 50px;
}
#sou1{
    a{
        color: rgb(29, 125, 140);
        font-size: 70Px;
        font-family: 'poppins', 'sans-serif';
    }
}
#sou2{
    a{
        color: black;
        font-size: 30px;
        font-family: 'poppins', 'sans-serif';
    }
}
#button1{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color:  transparent;
    border: 10px 100px solid gray;
    padding: 12px 24px;
}
.ou{
    color: black;
    font-size: 30px;
    p{
        color: gray;
        display: flex;
        justify-content: space-around;
    }
}
.sousfils1{
  border: 1px solid #CCC;
  border-radius: 49px;
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;


  

}

 .sousfils1 .all{
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: center;
}

.sousfils1 .all .words{
    display: flex;
    flex-direction: column;
  
}

.search-sign{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: lightblue;
    justify-content: center;
   
}

.search-sign i{
    color: white;
     align-items: center;
}