body{
    background-color: white;
    height: 120vh;
}
#fils1{
    background-image: linear-gradient(#0a2633ad),url(./WhatsApp\ Image\ 2026-02-18\ at\ 10.02.18.jpeg);
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    

   
}
#mere{
    height: 100%;
    width: 100%;
}
header{
    display: flex;
   justify-content: space-around;
   align-items: center;
   position: relative;

}
#sou{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
a{
    text-decoration: none;
    color: white;
}
#fils2{
     padding: 0px 35px;
     position: absolute;
     top: 82%;
     left: 50%;
     transform: translateX(-50%);
     background-color: white;
     width: 70%;
     height: 400px;
     box-shadow: 0px 10px 15px #0a2633ad;
     border-radius: 35px;
}
#sou1{
    a{
        color: rgba(61, 140, 191);
        font-size: 70Px;
        font-family: 'poppins', 'sans-serif';
    }
}
#sou2{
    a{
        color: black;
        font-size: 30px;
        font-family: 'poppins', 'sans-serif';
    }
}
#button1{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color:  transparent;
    border: 10px 100px solid gray;
    padding: 12px 24px;
}
.ou{
    color: black;
    font-size: 30px;
    p{
        color: gray;
        display: flex;
        justify-content: space-around;
    }
}
.sousfils1{
  border: 1px solid #CCC;
  border-radius: 49px;
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;


  

}

 .sousfils1 .all{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.sousfils1 .all .words{
    display: flex;
     flex-direction: column;

  }

.search-sign i{
    height: 60px;
    width: 60px;
 display: flex ;
    background-color: rgba(61, 140, 191);
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.search-sign i{
    color: white;
     align-items: center;
}
i{
    color: #CCC;
    font-size: 30px;
    background-color: transparent;
}
.all .words{
   display: flex;
   align-items: center;
   border-right: 1px solid gray;
   padding: 10px;
}
#il{
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px;

}
#sousfils2 i{
    color: rgba(61, 140, 191);
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: rgba(238, 249, 254);
    padding: 20px;
}
#sousfils2{
    text-align: center;

}
#fils3{
    display: flex;
    gap: 60px;
    h4{
        font-size: 30px;
    }
}
#mere3{
    h3{
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    display: flex;
    flex-direction: column;
}
#sousfils3{
    display: flex;
    justify-content: space-between;
}
.mo{
    display: flex;
    gap: 15px;
}
#sousfils3{
    animation: keline 10s ease infinite;
}
@keyframes keline{
    from{
        transform: translateX(O);
    }
to{
    transform: translateX(-50%);
    }

}
#mere4{
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        text-shadow: 2px 2px 2px #a8b2b7ad ;
    }
}

.grid{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.card{
    width: 350px;
}

.img-wrapper{
    position: relative;
}

.img-wrapper img{
    width: 350px;
    height: 290px;
    object-fit: cover;
    border-radius: 20px;
    margin: 20px;
}

.badge{
    position: absolute;
    top: 9px;
    right: 8px;
    background-color: #8e8e8e;
    color: #ffff;
    
}

.info{
    display: flex;
    justify-content: space-between;
}

.info span{
    font-size: 17px;
    font-weight: 700;
}
.le h1{
    font-size: 50px;
}
.voisin{
    background-image: url(./WhatsApp\ Image\ 2026-02-18\ at\ 10.02.24\ \(2\).jpeg);
   background-size: cover;
    height: 700px;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
}

#mere5{
    display: flex;
    align-items: center;
    justify-content: center;
}
#fils6{
     margin: 30px; 
    button{
        width: 200px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid black;
    }
}
.voisin{
    background-image: url(./WhatsApp\ Image\ 2026-02-18\ at\ 10.02.24\ \(2\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 800px;
    width: 100%;
   margin: 30px; 
   padding: 90px;
   position: relative;
}
.keline{
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        color: white;
        margin: 200px;
        font-size: 100px;
    }
}
.noura{
    width: 500px;
    height: 250px;
    gap: 50px;
    lorem{
        color: white;
    }
}
.noura{
    display: flex;
    flex-direction: column;
    button{
         width: 200px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid transparent;

    }
}
.noura{
    .az{
        color: white;
        font-size: 20px;
    }
}
.grdls{
    border: 1px solid orange;
    border-radius: 20px;
}

.il{
    display: flex;
    gap: 500px;
}
.zi{
    display: flex;
    gap: 20px;
    img{
        border-radius: 10px;
    }
    p{
        color: white;
        font-size: 20px;
    }
}
#mere7{
    display: flex;
    gap: 1640px;
}
.pt{
    button{
        border: 1px solid black;
        padding: 20px;
        background-color: white;
    }
    display: flex;
    gap: 10px;
    margin: 40px;
}
 .ne{
    img{
        border-radius: 10px;
    }
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    
 }
 
 #mere8{
    display: flex;
    justify-content: space-between;
 }
 
 .oi{
    i{
        border: 1px solid rgba(61, 140, 191);
        border-radius: 30px;
        color: rgba(61, 140, 191);
        padding: 10px;
    }
    p{
        color: rgba(61, 140, 191);
    }
    display: flex;
    gap: 10px;
 }
 .kl{
    display: flex;
    margin: 20px;
 }
 .me{
    img{
        border-radius: 10px;
    }
    background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
 }
 .mq{
    img{
        border-radius: 10px;
    }
    background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inet;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
 }
 .kl{
    p{
        gap: 50px;
    }
 }